/* COLORES */
/* FUENTES */
/* MEDIDAS */
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem; }
  header .navbar-light {
    border-radius: 0.625rem;
    box-shadow: 5px 0 10px #dadacd;
    color: #f6f6fa; }
  header .navbar-light .navbar-nav .nav-link {
    color: #dadacd; }

.footer__informacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2rem; }
  .footer__informacion__masInformacion {
    display: flex;
    flex-direction: column; }
  .footer__informacion__contactanos {
    display: flex;
    flex-direction: column; }
  .footer__informacion__redes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .footer__informacion__redes__img {
      display: flex;
      flex-direction: row; }
  .footer__informacion__dataFiscal {
    display: flex;
    flex-direction: column; }

.footer__disclaimer {
  display: flex;
  justify-content: center; }

* {
  margin: 1px;
  padding: 1px; }

/* RESET SI O SI*/
body {
  font-family: "Akshar", sans-serif;
  font-size: 20px;
  color: #dadacd;
  background-color: #1b1a1b;
  /* MAIN */
  /* titulo */
  /* BOTONES INDEX */
  /* MAIN PAGINAS DE VENTA  */
  /* BOTONES DE VENTAS  */
  /* media queri mobil */ }
  body .titulo {
    text-align: center;
    font-size: 3.125rem;
    font-weight: 400; }
  body .button__indexStile {
    background-image: linear-gradient(to top, #2424d3, rgba(211, 42, 42, 0.747));
    margin-top: 0px;
    width: 9.125rem;
    height: 2.5rem;
    font-weight: bolder;
    border: 2px solid #0f0f0f;
    border-radius: 0.188rem;
    color: #f6f6fa;
    font-size: large; }
  body .buttom__comprar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    body .buttom__comprar__comprar__estilo {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: space-around;
      justify-content: center;
      border: 2px;
      display: flex;
      background-color: #faf6f7;
      color: rgba(17, 11, 11, 0.692);
      margin-left: opx;
      margin-top: 0px;
      width: 7.813rem;
      height: 1.563rem;
      font-weight: bolder;
      transition: all 2s; }
      body .buttom__comprar__comprar__estilo:hover {
        /* BOTON CON TRANSICION */
        background-image: linear-gradient(to top, #2424d3, rgba(211, 42, 42, 0.747));
        color: #f6f6fa;
        transform: scale(1.5); }
  @media (min-width: 541px) and (max-width: 720px) {
    body .titulo {
      text-align: center;
      font-size: 3.125rem;
      font-weight: 400; }
    body .grid__containerIndex {
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-areas: "uno" "dos"  "tres";
      gap: 1rem; }
    body .footer__dataFiscal {
      display: flex;
      flex-direction: column; } }
  @media (max-width: 540px) {
    body {
      /* TITULO */
      /* pagina de contacto */ }
      body header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; }
        body header__logo {
          display: flex;
          width: 4rem;
          height: 4rem; }
        body header__navegacion {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          box-shadow: 5px 0 10px rgba(245, 245, 242, 0.788);
          border-radius: 10px;
          flex-direction: column; }
      body .titulo {
        text-align: center;
        font-size: 3.125rem;
        font-weight: 400; }
      body .grid__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "boxUno" "boxDos" "boxTres" "boxCuatro" "boxCinco" "boxSeis";
        gap: 4rem; }
      body .footer__informacion {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 2rem;
        align-content: flex-start; }
      body .footer__dataFiscal {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center; }
      body .input__formularios {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around; }
      body textarea {
        width: 90vw; }
      body .img__qr {
        width: 4rem;
        height: 4rem; } }
