/* COLORES */
/* FUENTES */
/* MEDIDAS */
/* MAP */
/* EACH */
.key1-box {
  background-image: url(../recursos/CocinasIndustriales.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key2-box {
  background-image: url(../recursos/campanas.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key3-box {
  background-image: url(../recursos/Licuadoras.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key4-box {
  background-image: url(../recursos/sartenes.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key5-box {
  background-image: url(../recursos/Cacerolas.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key6-box {
  background-image: url(../recursos/cafeteras.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key7-box {
  background-image: url(../recursos/CocinasIndustriales.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key8-box {
  background-image: url(../recursos/hornosPizzeros.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key9-box {
  background-image: url(../recursos/Freidoras.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key10-box {
  background-image: url(../recursos/asadorCriollo.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key11-box {
  background-image: url(../recursos/carlitero.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key12-box {
  background-image: url(../recursos/spiedo.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key13-box {
  background-image: url(../recursos/Balanzas.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key14-box {
  background-image: url(../recursos/cortadoraDeFiambre.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key15-box {
  background-image: url(../recursos/Freezers.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key16-box {
  background-image: url(../recursos/Gaveteros.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key17-box {
  background-image: url(../recursos/Selladoras.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

.key18-box {
  background-image: url(../recursos/Sierras.jpg);
  background-size: cover;
  width: 28.125rem;
  height: 15.625rem;
  border-radius: 1rem;
  box-shadow: 5px 0 10px #dadacd; }

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem; }
  header .navbar-light {
    border-radius: 0.625rem;
    box-shadow: 5px 0 10px #dadacd; }
  header .navbar-light .navbar-nav .nav-link {
    color: #fbfbf3; }
  header .navbar-toggler-icon {
    background-color: #fbfbf3; }

.footer__informacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2rem; }
  @media (max-width: 540px) {
    .footer__informacion {
      flex-direction: column;
      align-content: flex-start; } }
  .footer__informacion__dataFiscal {
    display: flex;
    flex-direction: column; }
    @media (max-width: 540px) {
      .footer__informacion__dataFiscal {
        flex-direction: row;
        width: 4rem;
        height: 4rem; } }

.footer__disclaimer {
  display: flex;
  justify-content: center; }

.buttom {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .buttom__estilo {
    border: 2px;
    background-color: #1b1be4;
    color: #fcfafa;
    border-radius: 0.25rem;
    width: 9.125rem;
    height: 2.5rem;
    font-weight: bolder;
    transition: all 2s; }
    .buttom__estilo:hover {
      /* BOTON CON TRANSICION */
      background-image: linear-gradient(to top, #2424d3, white);
      color: #f6f6fa;
      transform: scale(1.5); }

* {
  margin: 1px;
  padding: 1px; }

/* RESET SI O SI*/
body {
  font-family: "Akshar", sans-serif;
  font-size: 1.25rem;
  color: #fbfbf3;
  background-color: #1b1a1b;
  /* MAIN */
  /* titulo */ }
  body .titulo {
    text-align: center;
    font-size: 3.125rem;
    font-weight: 400;
    padding-top: 0.313rem; }
  body .carousel-inner {
    width: 98%; }
    body .carousel-inner img {
      max-height: 28.125rem;
      border-radius: 1rem; }
  body .img__index {
    border-radius: 1rem; }
