
    .buttom{
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__estilo{
        border: 2px;
        background-color: rgb(27, 27, 228);
        color: $color-boton-compras;
        border-radius: 0.25rem;
        width: 9.125rem;
        height: 2.5rem;
        font-weight: bolder;
        transition: all 2s;
        
        &:hover{     /* BOTON CON TRANSICION */
            background-image: linear-gradient(to top, rgb(36, 36, 211),rgb(255, 255, 255));
            color:$color-transicion-compras;
            transform: scale(1.5);
        }
        }
    }