.footer__informacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem;

    @media (max-width: 540px){
            flex-direction: column;
            align-content: flex-start;
        }

    &__dataFiscal{
        flex-direction: column;
            
            &__dataFiscal__img__qr{

                @media (max-width: 540px){
                    width: 4rem;
                    height: 4rem;  
                }
            }

    } 
}

.footer__disclaimer{
    display: flex;
    justify-content: center;
}