header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    padding-left: 1rem;
    padding-right: 1rem; 

    .navbar-light {
        border-radius: 0.625rem;  
        box-shadow: 5px 0 10px rgb(218, 218, 205);   
    }

    .navbar-light .navbar-nav .nav-link{
        color: $color-fuente;
    }

    .navbar-toggler-icon{
        background-color: $color-fuente;
    }
}