/* MAP */
$productos:(key1: CocinasIndustriales, key2:campanas, key3:Licuadoras, key4:sartenes, key5:Cacerolas, key6:cafeteras, 
                key7:CocinasIndustriales, key8:hornosPizzeros, key9:Freidoras, key10:asadorCriollo, key11:carlitero, key12:spiedo,
                key13:Balanzas, key14:cortadoraDeFiambre, key15:Freezers, key16:Gaveteros, key17:Selladoras, key18:Sierras);

/* EACH */
@each $key, $producto in $productos {
    .#{$key}-box{
        background-image: url(../recursos/#{$producto}.jpg);
        background-size: cover;
        width: 28.125rem;
        height:15.625rem;
        border-radius: 1rem;
        box-shadow: 5px 0 10px rgb(218, 218, 205); 
    }
}