/* MAP */
$productos:(key1: cocinasIndustriales, key2:campanas, key3:licuadoras, key4:sartenes, key5:cacerolas, key6:cafeteras, 
                key7:cocinasIndustriales, key8:hornosPizzeros, key9:freidoras, key10:asadorCriollo, key11:carlitero, key12:spiedo,
                key13:balanzas, key14:cortadoraDeFiambre, key15:freezers, key16:gaveteros, key17:selladoras, key18:sierras);

/* EACH */
@each $key, $producto in $productos {
    .#{$key}-box{
        background-image: url(../recursos/#{$producto}.jpg);
        background-size: cover;
        width: 28.125rem;
        height:15.625rem;
        border-radius: 1rem;
        box-shadow: 5px 0 10px rgb(218, 218, 205); 
    }
}