@import "variables";
@import "sasscript";
@import "header";
@import "footer";
@import "botones";

*{
    margin: 1px;
    padding: 1px;
}  /* RESET SI O SI*/

body{
    font-family: $font-principal;
    font-size:1.25rem;
    color:$color-fuente; 
    background-color: $color-principal;
        /* MAIN */

    /* titulo */ 
    .titulo{                   
        text-align: center;
        font-size: 3.125rem;
        font-weight: 400;
        padding-top: 0.313rem;
    }

    .carousel-inner{
        width: 98%;
        img {
            max-height: 28.125rem;
            border-radius: 1rem;
            }
    }

    .img__index{
        border-radius: 1rem;
    }
}